:root {
  --grey: rgb(54, 62, 71);
  --blue: rgb(40, 41, 93);
  --green: #62a25d;
  --yellow: rgb(255, 210, 29);
  --orange: #df682d;
  --blue-transparent: rgba(40, 41, 93, 0.75);
}

.text-blue {
  color: var(--blue);
}

@font-face {
  font-family: Bebas;
  src: url("font/Bebas-Neue-Cyrillic.ttf");
}

@font-face {
  font-family: Julias-San;
  src: url("font/JuliusSansOne-Regular.ttf");
}

@font-face {
  font-family: sofiaPro;
  src: url("font/sofiapro-light.otf");
}

body {
  font-family: sofiaPro !important;
}

p,
span,
pre {
  font-family: sofiaPro;
}

h1,
h2 {
  font-family: Bebas;
}

h3,
h4,
h5,
h6 {
  font-family: Julias-San;
}

section,
section p,
p.fixp,
section h1,
section h2,
section h3,
section h4,
section h5,
section h6,
section span {
  font-family: Julias-San;
}

.f-16 {
  font-size: 16px;
}
.f-18 {
  font-size: 18px;
}
.f-20 {
  font-size: 20px;
}
.f-30 {
  font-size: 30px;
}
.f-40 {
  font-size: 40px;
}

@media screen and (min-width: 73.75rem) {
  .contain {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 48rem) {
  .contain {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 30rem) {
  .contain {
    padding-left: 15.84px;
    padding-right: 15.84px;
  }
}

@media screen and (min-width: 48rem) {
  .contain {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

.contain {
  max-width: 78.75rem;
  margin-left: auto;
  margin-right: auto;
  padding: 48px 1rem;
}

@media screen and (min-width: 73.75rem) {
  .contain {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 48rem) {
  .contain {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 30rem) {
  .contain {
    padding-left: 15.84px;
    padding-right: 15.84px;
  }
}

@media screen and (min-width: 48rem) {
  .contain {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .contain {
    max-width: 78.75rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 12px;
  }
}

@media screen and (min-width: 73.75rem) {
  .contain,
  .contain--small {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 48rem) {
  .contain,
  .contain--small {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 30rem) {
  .contain,
  .contain--small {
    padding-left: 15.84px;
    padding-right: 15.84px;
  }
  .contain,
  .contain--small {
    max-width: 62.75rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 0.75rem;
  }
}

.u-line {
  position: relative;
}

.u-line h3:before, .u-line h5:before, .u-line h6:before  {
  content: "";
  background: rgb(40, 53, 147);
  width: 80px;
  height: 0.125rem;
  position: absolute;
  margin-bottom: -0.25rem;
  bottom: 0%;
  left: 1px;
}

.u-line-center, .u-line-center-white {
  position: relative;
}

.u-line-center h3:before {
  content: "";
  background: rgb(40, 53, 147);
  width: 80px;
  height: 0.20rem;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -5px;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
.u-line-center-white h4:before {
  content: "";
  background:#fff;
  width: 80px;
  height: 0.20rem;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -8px;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

/* explore button home */
a.explore {
  cursor: pointer;
  text-transform: uppercase;
  /* background: #363E47; */
  background-color: #433e96;
  border: 0;
  /* border-radius: 0; */
  -webkit-box-shadow: 0 25px 50px -17px rgba(74,68,176,0.6);
    box-shadow: 0 25px 50px -17px rgba(74,68,176,0.6);
  /* box-shadow: inset 0 0 0 0.14286em transparent; */
  color: #fff;
  min-width: 220px;
  /* transition: background 0.3s, box-shadow 0.3s, color 0.3s; */
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}



a.explore:hover {
  color: #fff;
  background: var(--blue);
  transform: scale(0.965);
}




.nav-link {
  color: black;
  font-weight: 500;
  text-transform: uppercase;
}
nav.bg-light {
  height: 50px;
}
nav.bg-light a:hover{
  font-weight: bolder;
  border-bottom: 3px solid var(--blue);
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgb(46 48 51 / 84%);
}



.faculty-tabs a {
  display: block;
  font-size: 1rem;
  line-height: 1.1875;
  font-weight: 900;
  text-transform: uppercase;
  border: 1px solid #E6E6E6;
  padding: 14px 17px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  position: relative;
  background: #F2F2F2;
  color: #252B33;

}

.faculty-tabs a.active {
  background: #012E61;
  color: #FFF;
  border-color: #012E61;
}
.faculty-tabs a.active:after {
  border-top-color: #012E61;
}
.faculty-tabs a:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
 
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 7px solid transparent;
  -webkit-transition: 0.3s border;
  transition: 0.3s border;
}

.faculty-tabs a.active {
  background: #012E61;
  color: #FFF;
  border-color: #012E61;
}